@tailwind base;
@tailwind components;
@tailwind utilities;
.scrollable-content::-webkit-scrollbar {
  display: none;
}
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
@layer base {
  h1 {
    @apply text-[2.2rem]/9  md:text-5xl/none 3xl:text-6xl font-bold mb-4 md:mb-8;
  }
  h2 {
    @apply text-3xl/tight md:text-4xl/tight font-bold mb-6;
  }
  h3 {
    @apply text-lg  md:text-2xl  font-bold  mb-1 md:mb-2;
  }
  h4 {
    @apply font-semibold mb-1;
  }
  p {
    @apply font-mono;
  }
  p + p {
    @apply mt-4;
  }
}
@layer components {
  .reveal {
    opacity: 0;
    @apply animate-reveal  [animation-duration:2s];
  }
  .fade-in {
    @apply opacity-0 animate-reveal  [animation-range:0svh_10svh] [animation-timeline:view(block)]   sm:[animation-range:cover_5%_contain_30%];
  }
  .fade-out-down {
    @apply animate-fade-out-down [animation-range:0px_70svh] [animation-timeline:scroll()];
  }
  .button {
    @apply inline-block rounded border content-center text-center transition-all hover:bg-primary-dark hover:text-[white];
  }
  .button.small {
    @apply px-2 py-1 text-xs;
  }
  .button.medium {
    @apply px-5 py-3 text-sm;
  }
  .button.large {
    @apply px-8 py-4 text-base;
  }
  .link {
    position: relative;
  }
  .link.active {
    @apply font-bold;
  }
  .link::before {
    @apply absolute -bottom-2 h-1 w-full origin-right scale-x-0 bg-primary-dark transition-transform duration-200 ease-in-out content-[""];
  }
  .link:hover::before,
  .link.active::before {
    @apply origin-left scale-x-100;
  }
}
